.home__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0;

    height: calc(100vh - 12rem);
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    .empty {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .home__container {
        height: calc(100vh - 9rem);
        width: 65%;
    }
}

@media screen and (min-width: 1024px) {
    .home__container {
        width: 70%;
    }
}

@media screen and (min-width: 1440px) {
    .home__container {
        width: 75%;
    }
}
