.labels__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0;

    height: calc(100vh - 12rem);
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    .empty {
        text-align: center;
        color: var(--text-color-light);
    }

    .option__title {
        text-align: center;
        font-family: "Grape Nuts", cursive;
        font-size: var(--h1-font-size);
        font-weight: var(--font-semi-bold);
        letter-spacing: 1.5px;
    }

    .labels {
        display: flex;
        justify-content: center;

        .chip {
            margin: 0.5rem 1rem;
            font-size: var(--h3-font-size);
            color: var(--white-color);
            background-color: var(--secondary-color);
            padding: 0.15rem 0.75rem;
            border-radius: 1rem;
        }
    }

    .label {
        color: var(--text-color-light);
    }
}

@media screen and (min-width: 768px) {
    .labels__container {
        width: 65%;
    }
}

@media screen and (min-width: 1024px) {
    .labels__container {
        width: 70%;
    }
}

@media screen and (min-width: 1440px) {
    .labels__container {
        width: 75%;
    }
}
