.archive__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0;

    height: calc(100vh - 12rem);
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    .option__title {
        text-align: center;
        font-family: "Grape Nuts", cursive;
        font-size: var(--h1-font-size);
        font-weight: var(--font-semi-bold);
        letter-spacing: 1.5px;
    }

    .empty {
        text-align: center;
    }

    .edit,
    .pin,
    .paint,
    .tag {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .archive__container {
        width: 65%;
    }
}

@media screen and (min-width: 1024px) {
    .archive__container {
        width: 70%;
    }
}

@media screen and (min-width: 1440px) {
    .archive__container {
        width: 75%;
    }
}
